

/* Características principales: Header, Main and Footer */

body {
    background-color:#131313;
    font-family: 'Poiret One';
    color: #FFF;
    margin: 0;
    position: relative;
}

.footer {
    background-color: #3c3c3b;
    width: 100%;
    margin: 0;
}
a:link, a:visited, a:active {
    text-decoration: none;
    color: #FFF;
}

/*------------------- HEADER---------------- */

header {
    background-color: #131313;
}
.header-caja {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
 /*    background-color: white; */
    width: 100%;
    height: 65px;
}
.header-bloque {
    position: absolute;
}

/* HEADER IZQUIERDO */
.header-izquierdo {
    width: 20%;
    /* background-color: blue; */
    left: 0;
    top: 0;
    height: 100%;
}

ul {
    height: 100%;
    width: 80%;
    list-style: none;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.elemento-nav {
    position: absolute;
    width: 30%;
    height: 30px;
  /*   background-color: cyan; */
    margin: 17px 5px 17px 5px;
    text-align: center;
    padding-top: 7px;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 0.2em;
}
    .html-nav {
        left: 0;
        right: 66%;
    }
    .css-nav {
        left: 33%;
        right: 33%;
    }
    .contacto-nav {
        left: 66%;
        right: 0;
    }

/* HEADER CENTRO*/

.header-centro {
    width: 60%;
    height: 100%;
    background-color: #131313;
    margin: auto;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
}

#nombre-pagina {
    width: 180px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: #131313;
}

/* HEADER DERECHO */
.rrss-header {
    height: 30px;
}
.header-derecho {
    width: 20%;
    height: 100%;
 /*    background-color: red; */
    right: 0;
}
    .rrss-header-caja {
        position: relative;
        right: 0;
        top: 0;
        left: 0;
        bottom: 0;
        margin: 17px auto;
        /* background-color: chocolate; */
        width: 140px;
        height: 30px;
    }
        .rrss-header {

        }


/*----------------------------MAIN-------------------*/
main {
    background-color: #131313;
    margin: 0;
    z-index: -1;
}

/*FRASE SUPERIOR*/
.main-1 {
    /* background-color: violet; */
    width: 100%;
    height: 200px;
    position: relative;
}
.frase-box {
    /* background-color: teal; */
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    width: 55%;
    height: 120px;
}
    .frase {
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 1px;
    }
    #frase-autor {
        color: #FFF;
        font-size: 12px;
        text-align: end;
        padding-right: 25%;
        letter-spacing: 0.2em;
    }






#html-fondo {
    width: 300px;
}

.rrss-footer {
    width: 40px;;
}